.caixa{
    text-align: center;
    background-color: gray;
    outline: solid;
    outline-color: aqua;
    height: 200px;
    width: 200px;
}
div > p {
    display: none;
}
div:hover > p{
    display: block;
}
.desaparecido {
    color: rgb(0, 0, 255);
    font-size: 24px;
}